header.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:center;
  }
  
  .navbar__menu {
    margin: 16px;
  }
  
  .navbar__category-link {
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: inline-block;
    color: aliceblue;
  }
  
  .navbar__category-link::before,
  .navbar__category-link::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
  }
  .navbar__category-link::before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .navbar__category-link::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
  }
  
  .navbar__category-link:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .navbar__category-link:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .navbar__category-link span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .navbar__category-link:hover span {
    transform: translate3d(-200%, 0, 0);
  }


/* 
.navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 192, 232);
    position: sticky;
    font-family: "Poppins", sans-serif ;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .15);
    padding-bottom: 10px;
}

.navbar__menus {
    width: 80%;
    list-style: none;
    display: inline-block;
    margin: 20px;
}

.navbar__menu {
    color: #ffffff;
    margin: 5%;
    letter-spacing: 1px;
    text-decoration: none;
}

.navbar__categorias{
    width: auto;
    list-style: none;
    display: inline-block;
    letter-spacing: 0.8px;
    margin: 10px 30px;
}

.navbar__category-link{
    color: #ffffff;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px ;
    display: flex;
    justify-content: center;
    text-decoration: none;
} */
